<body>
    <div class="container-fluid" id="welcome-container">
        <%= render 'navbar' %>
        <div class="container">
            <div class="row" id="title-row">
                <div class="col-lg-12">
                    <h1 id="title">Welcome to Trestle</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 col-centered">
                    <i class="material-icons" style="font-size:13vh;color:rgb(219, 209, 207)">
                        access_time
                    </i>
                    <h5 class="text-center landing">Work on your own schedule!</h5>
                </div>
                <div class="col-md-4 col-centered">
                    <i class="material-icons" style="font-size:13vh;color:rgb(219, 209, 207)">
                        work_outline
                    </i>
                    <h5 class="text-center landing">Start an exciting new career in the budding cannabis industry!</h5>
                </div>
                <div class="col-md-4 col-centered">
                    <i class="material-icons" style="font-size:13vh;color:rgb(219, 209, 207)">
                        eco
                    </i>
                    <h5 class="text-center landing">Become a human who is concerned about plants!</h5>
                </div>
            </div>
        </div>
    </div>
</body>