<div class="container-fluid">
    <nav class="navbar transparent navbar-inverse" id="bar">
        <a class="navbar-brand" href="/">
            Trestle
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <span class="navbar-text float-right">
            <%= link_to '<i class="fa fa-user-plus fa-lg"></i> Sign Up'.html_safe, new_user_registration_path %>&nbsp;&nbsp;
            <%= link_to '<i class="fa fa-sign-in fa-lg"></i> Sign In'.html_safe, new_user_session_path %>
        </span>
    </nav>
    <div class="container">
        <div class="row" id="title-row">
            <div class="col-lg-12">
                <h1>Welcome to Trestle</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-centered">
                <i class="material-icons" style="font-size:150px;color:rgb(219, 209, 207)">
                    book
                </i>
                <h5 class="text-center">Work on your own schedule!</h5>
            </div>
            <div class="col-md-4 col-centered">
                <i class="material-icons" style="font-size:150px;color:rgb(219, 209, 207)">
                    work_outline
                </i>
                <h5 class="text-center">Start an exciting new career in the budding cannabis industry!</h5>
            </div>
            <div class="col-md-4 col-centered">
                <i class="material-icons" style="font-size:150px;color:rgb(219, 209, 207)">
                    eco
                </i>
                <h5 class="text-center">Become a human who is concerned about plants!</h5>
            </div>
        </div>
    </div>
</div>