<div class="col-lg-10" id="middle">
    <div class="row" id="button-row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4"><%= checkpoint.title %></h1>
        <p class="lead"><%= checkpoint.section.name %></p>
        <hr class="my-4">
        <p><%= checkpoint.description %></p>
    </div>
</div>