<div class="container-fluid">
  <% if user_signed_in? && current_user.admin? %>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text" style="color: whitesmoke;">
      Course Index
    </span>
    <div class="btn-group dropleft">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/courses/new">New Course</a>
      </div>
    </div>
  </nav>
  <%= tag.div id:"courseIndex", data: { cs: @courses.to_json } %>
  <% elsif (user_signed_in? && current_user.student?) || (user_signed_in? && current_user.guest?) %>
    <div class="row" id="l-course-row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10 blue-header-parent">
        <div class="blue-header index">
          <h1 class="display-3">Courses</h1>
        </div>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <% @courses.each do |course| %>
          <%= tag.div id:"scourseIndex", data: { acs: course.to_json, p: course.preview.to_json, i: rails_blob_path(course.preview.image).to_json, s: course.sections } %>
        <% end %>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
  <% end %>
</div>
