<div class="container-fluid">
  <% if user_signed_in? && current_user.admin? %>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text" style="color: whitesmoke;">
      Course Index
    </span>
    <div class="btn-group dropleft">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/courses/new">New Course</a>
      </div>
    </div>
  </nav>
  <%= tag.div id:"courseIndex", data: { cs: @courses.to_json } %>
  <% elsif (user_signed_in? && current_user.student?) || (user_signed_in? && current_user.guest?) %>
    <div class="row" id="l-course-row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
          <h1 class="display-4">Courses</h1>
          <p class="lead">Our current selection of courses here at Trestle</p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <% @courses.each do |course| %>
          <%= tag.div id:"scourseIndex", data: { acs: course.to_json, p: course.preview.to_json } %>
        <% end %>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  <% end %>
</div>
