 <div class="container-fluid">
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text" style="color: whitesmoke;">
    Course Index
  </span>
  <div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/">Home</a>
      <a class="dropdown-item" href="/courses/new">New Course</a>
    </div>
  </div>
</nav>
</div>
<courseindex :c="<%= @courses.to_json %>" />
<%= tag.div id:"courseIndex", data: { cs: @courses.to_json } %>
